/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
    padding-top: 3px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.bottom-card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
/****** Header*********/
#logo {
    width: 61.09px;
    height: 19px;
    padding-top: 8px;
}

a {
    text-decoration:none;
    color: black;
}

a:active{
    color: #0065FC;
}

nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container_menu {
    display: flex;
}

.menu_1:hover{
    border-top: #0065FC 2px solid;
}

.menu_1{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-right: 16px;
    border-top: transparent 2px solid;
}

.menu_2 {
    display: flex;
    align-items: end;
    justify-content: center;

}

.menu_2:hover{
    border-top: #0065FC 2px solid;
}

.link_1{
    padding-top: 8px;
}

/****Filtre****/
h2{
    font-size: 22px;
    padding-top: 30px;
    padding-left: 13px;
}

.p{
    font-size: 16px;
    padding-left: 18px;
}

#input{
    border: none;
    height: 43px;
    width: 120px;
}
 
#research{
    display: flex;
    height: 45px;
    margin-top: 30px;
    padding-left: 14px;
    margin-bottom: 18px;
}

#button_research{
    background-color:#0065FC;
    color: #FFFFFF;
    font-weight: bold;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
}

#icone{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    background-color: #F2F2F2;
}

.research_filter{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    align-items: baseline;
    justify-content: flex-start;
    gap: 10px;
}

.research_filter i {
    border-radius: 100%;
    margin: 8px;
    margin-right: 12px;
}


.research_filter ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.research_filter li{
    display: flex;
    flex-direction: row;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    padding-right: 19px;
}

.fa-solid.fa-info {
    color: #0065FC;
    border-radius: 50px;
    border: #d9d9d9 solid 2px;
    margin-right: 8px;
    padding: 7px 11px 7px 11px;
    font-size: 14px;
}

.info p{
    display: initial;
    padding-left: 2px;
}

.info{
    padding-left: 10px;
    margin-top: 9px;
    margin-bottom: 34px;
}

.research_filter li:hover {
    background-color: #DEEBFF;
}

#research_button_mobile {
    display: none;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
}

.hebergements-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.hebergements-cards .card {
    display: flex;
    margin-top: 33px;
    flex-direction: column;
}

.hebergements-cards img {
    width: 250px;
    height: 124px;
    border-radius: 20px 20px 0px 0px ;
}

.hebergements-cards .card-content {
    padding-left: 7px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-top: 6px;
}

.afficher{
    font-size: 22px;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********Activités********/
.activites{
    margin-top: 1px;
}

.activités_marseille{
    margin-left: 3%;
    font-size: 21px;
}

.activité-list{
    display: flex;
    justify-content: space-between;
    height: 407px;
    font-size: small;
}

.activités-list article img{
    width: 297px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.activité-list .row article h3{
    padding: 21px;
    margin: 0px;
}

.activité-list .row article{
    height: 48%;
}

.title-h3 {
    padding: 20px;
    margin: 0;
}
/*****Footer*****/
.footer{
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 50px;    
}

.footerwrap{
    display: flex;
    max-width: 100%;
    margin: auto;
    padding: 0 25px;
    box-sizing: border-box;
}

.footercolonne{
    padding: 10px 15px;
    flex: auto;
}

.footer ul{
    display: block;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    color: black;
    font-size: 16px;
}

h3{
    font-size: 18px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    * {
        font-family: 'Raleway', sans-serif;
    }

    .main-container{
        max-width: 1024px;
    }

    body{
        margin: 0px;
    }

    .link_1{
        margin-right: 49px;
    }

    .link{
        margin-right: 17px;
    }

    h2{
        font-size: 18px;
        padding-left: 13px;
    }

    #research{
        margin-top: 18px;
        margin-bottom: 7px;
    }

    .research_filter{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .research_filter ul{
        margin-right: auto;
        margin-top: 0px;
    }

    .research_filter li{
        align-items: center;
        width: max-content;
    }

    .info p{
        font-size: 16px;
    }

    /***Hébergements***/

    .hebergements {
        width: 100%;
    }

    .hebergements-title {
        display: block;
    }

    .hebergements-cards {
        width: 100%;
    }

    .hebergements-cards .card{
        width: 30%;
    }

    .hebergements-cards .card img{
        width: 245px;
        height: 107px;
    }

    .afficher{
        margin-bottom: 0px;
    }

    /***Populaires***/

    .populaires {
        width: 100%;
        margin-top: 60px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activités-list article img{
        width: 193.50px;
        height: 200px;
    }

    /***Activités***/

    .title-h3{
        font-size: 16px;
    }

    .activites{
        width: 80%;
    }

    .bottom-card{
        margin-right: 16px;
        margin-left: 11px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .main-container{
        max-width: 767.96px;
        padding: 0;
    }

    body{
        margin: 0px;
        font-family: 'Raleway', sans-serif;
    }

    #logo{
        width: 61.09px;
        margin-top: 30px;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    nav a{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link_1{
        margin: 0px;
    }

    .link{
        margin: 0px;
    }

    #container_menu{
        width: 100%;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    .menu_1:hover{
        border-top: none;
        border-bottom: #0065FC 2px solid;
        width: 100%;
    }

    .menu_2:hover{
        border-top: none;
        border-bottom: #0065FC 2px solid;
        width: 100%;
    }
    /***Titre et ST***/

    h2{
        font-size: 22px;
        font-weight: 700;
        margin-top: 0px;
    }

    .p{
        font-size: 16px;
        line-height: 19px;
    }

    .research_filter{
        display: flex;
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
    }

    .research_filter ul{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
    }

    .research_filter li{
        width: 45%;
        margin: 0px;
        padding: 0px;
    }

    /***Research***/
    #research{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-left: 2.5%;
    }

    #research_input{
        width: 80%;
        height: 70%;
        border: none;
        border-top: #F2F2F2 1px solid;
        border-bottom: #F2F2F2 1px solid;
        padding: 0 0 0 20px;
    }

    #input{
        border: none;
        height: 43px;
        width: 180px;
    }

    #research_button_mobile{
        background-color: #0065FC;
        display: contents;
    }

    .fa-solid.fa-magnifying-glass{
        background-color: #0065FC;
        color: #FFFFFF;
        border-radius: 15px;
        border: 1px solid #0065FC;
        margin-right: 0px;
        padding: 15px 16px 15px 16px ;
    }

    #button_research{
        display: none;
    }

    .info{
        margin: 7px;
        padding-bottom: 12px;
    }

    /***Hébergements and populaires***/

    .hebergements-and-populaires{
        width: 100%;
        display: block;
    }

    .hebergements{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hebergements-title{
        display: flex;
        flex-direction: column-reverse ;
    }

    .hebergements-cards{
        width: 100%;
        flex-direction: column;
    }

    .hebergements-cards .card{
        width: 100%;
    }

    .hebergements-cards .card img{
        width: 100%;
    }
    /***Populaires***/

    .populaires-cards{
        flex-direction: column;
        width: 100%;
    }

    .populaires-cards .card{
        width: 100%;
    }

    .populaires-cards img{
        width: 33.33%;
        height: 146px;
    }

    /***Activités à Marseille***/
    .activités-list{
        display: flex;
        flex-direction: column;
    }

    .activites{
        width: 100%;
    }

    .title-h3{
        font-size: 16px;
    }

    .activités-list .row{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activités-list .row article{
        margin: 0px;
    }

    .activités-list .row article img{
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
        height: 141px;
        width: 334px;
    }   
    
    /*****Footer*****/
    .footer{
    width: 100%;
}

    .footerwrap{
    flex-direction: column;
    padding: 0px;
}
    .footercolonne{
        padding: 0px;
    }
}