/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
    padding-top: 3px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.bottom-card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
/****** Header*********/
#logo {
    width: 61px;
    height: 19px;
    padding-top: 30px;
}

a {
    text-decoration:none;
    color: black;
}

a:active {
    color: #0065FC;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container_menu {
    display: flex;
}

.menu_1:hover {
    border-top: #0065FC 2px solid;
}

.menu_1 {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-right: 16px;
    border-top: transparent 2px solid;
}

.menu_2 {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 69px;

}

.menu_2:hover {
    border-top: #0065FC 2px solid;
}

.link_1 {
    padding-top: 8px;
}

/****Main****/
#main{
    padding-left: 18px;
}

#main h2{
    margin: 0px;
}

#main p{
    margin: 0px;
    margin-top: 8px;
}

h2 {
    font-size: 22px;
    padding-top: 60px;
}

p {
    font-size: 16px;
}
    /***Research***/
#input {
    border: none;
    height: 43px;
    width: 120px;
}
 
#research {
    display: flex;
    height: 45px;
    margin-top: 30px;
    padding-left: 14px;
    margin-bottom: 18px;
}

#button_research {
    background-color:#0065FC;
    color: #FFFFFF;
    font-weight: bold;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
}

#icone {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    background-color: #F2F2F2;
}
    /***Filtres***/
.research_filter {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    align-items: baseline;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 18px;
}

.research_filter h2{
    padding: 0px;
}

.research_filter i {
    border-radius: 100%;
    margin: 8px;
    margin-right: 12px;
}


.research_filter ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.research_filter li {
    display: flex;
    flex-direction: row;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    padding-right: 19px;
}

.fa-solid.fa-info {
    color: #0065FC;
    border-radius: 50px;
    border: #d9d9d9 solid 2px;
    margin-right: 8px;
    padding: 7px 11px 7px 11px;
    font-size: 14px;
}

.info p {
    display: initial;
    padding-left: 2px;
}

.info {
    padding-left: 10px;
    margin-top: 9px;
    margin-bottom: 34px;
}

.research_filter li:hover {
    background-color: #DEEBFF;
}

#research_button_mobile {
    display: none;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 30px;
}

.hebergements-cards .card {
    display: flex;
    margin-top: 33px;
    flex-direction: column;
}

.hebergements-cards img {
    width: 250px;
    height: 124px;
    border-radius: 20px 20px 0px 0px ;
}

.hebergements-cards .card-content {
    padding-left: 7px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-top: 6px;
}

a.afficher {
    font-size: 22px;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********Activités********/
.activites {
    margin-top: 1px;
}

.activites h2{
    padding-bottom: 30px;
}

.activités_marseille {
    margin-left: 3%;
    font-size: 21px;
}

.activité-list {
    display: flex;
    justify-content: space-between;
    height: 407px;
    font-size: small;
}

.activités-list article img {
    width: 297px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.activité-list .row article h3 {
    padding: 21px;
    margin: 0px;
}

.activité-list .row article {
    height: 48%;
}

.title-h3 {
    padding: 20px;
    margin: 0;
}
/*****Footer*****/
.footer {
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 50px;    
}

.footerwrap {
    display: flex;
    max-width: 100%;
    margin: auto;
    padding: 0 25px;
    box-sizing: border-box;
}

.footercolonne {
    padding: 10px 15px;
    flex: auto;
}

.footer ul {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: black;
    font-size: 16px;
}

h3 {
    font-size: 18px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    * {
        font-family: 'Raleway', sans-serif;
    }

    body {
        margin: 0px;
    }
    
    /***Header***/
    .main-container {
        max-width: 1024px;
    }

    .link_1 {
        margin-right: 49px;
    }

    .link {
        margin-right: 17px;
    }

    /***Main***/
    #main{
        padding: 0px;
        margin: 0px;
    }

    #main h2{
        margin-bottom: 0px;
    }

    #main p{
        margin-top: 0px;
    }

    h2 {
        font-size: 18px;
    }

    p{
        padding: 0px;
    }

    /***Filtres***/
    #research {
        padding: 0px;
    }

    .research_filter {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0px;
    }

    .research_filter ul {
        margin-right: auto;
        margin-top: 0px;
    }

    .research_filter li {
        align-items: center;
        width: max-content;
    }

    .info p {
        font-size: 16px;
    }

    .info{
        padding: 0px;
    }

    /***Hébergements and populaires***/
    .hebergements-and-populaires{
        flex-direction: column;
    }

    /***Hébergements***/
    .hebergements {
        width: 100%;
        background-color: var(--main-bg-color);
    }

    .hebergements-cards {
        width: 100%;
        gap: 15px;
    }

    .hebergements-cards .card {
        width: 30%;
    }

    .afficher {
        margin-bottom: 0px;
    }

    .hebergements-cards img {
        width: 100%;
        height: 124px;
        border-radius: 20px 20px 20px 20px;
    }

    /***Populaires***/

    .populaires {
        width: 100%;
        background-color: var(--main-bg-color);
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /***Activités***/
    .activites{
        width: 100%;
    }

    .activites h2{
        margin-left: 18px;
        padding-top: 30px;
    }

    .activités-list article img {
        width: 100%;
        height: 170px;
        object-fit: cover;
        border-radius: 20px 20px 20px 20px;
    }

    .title-h3 {
        font-size: 16px;
    }

    .bottom-card {
        margin-right: 16px;
        margin-left: 11px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    body {
        font-family: 'Raleway', sans-serif;
    }
    /***Header***/
    .main-container {
        max-width: 767.96px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #logo {
        margin-top: 30px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    nav a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link_1 {
        margin: 0px;
    }

    .link {
        margin: 0px;
    }

    #container_menu {
        width: 100%;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    .menu_1:hover {
        border-top: none;
        border-bottom: #0065FC 2px solid;
        width: 100%;
    }

    .menu_2:hover {
        border-top: none;
        border-bottom: #0065FC 2px solid;
        width: 100%;
    }

    /***Main***/
    #main{
        padding-right: 20px;
        padding-left: 20px;
    }

    h2 {
        font-size: 22px;
        font-weight: 700;
        margin-top: 0px;
        padding-left: 20px;
    }

    main p {
        font-size: 16px;
        line-height: 19px;
    }

    #main h2{
        padding-top: 40px;
    }

    /***Research***/
    #research {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    #research_input {
        width: 80%;
        height: 70%;
        border: none;
        border-top: #F2F2F2 1px solid;
        border-bottom: #F2F2F2 1px solid;
        padding: 0 0 0 20px;
    }

    #input {
        border: none;
        height: 43px;
        width: 180px;
    }

    #research_button_mobile {
        background-color: #0065FC;
        display: contents;
    }

    .fa-solid.fa-magnifying-glass {
        background-color: #0065FC;
        color: #FFFFFF;
        border-radius: 15px;
        border: 1px solid #0065FC;
        margin-right: 0px;
        padding: 15px 16px 15px 16px ;
    }

    #button_research {
        display: none;
    }

    /***Filtres***/
    .research_filter {
        display: flex;
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
    }

    .research_filter ul {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;
    }

    .research_filter li {
        width: 40%;
        margin: 0px;
        padding-top: 14px;
        padding-bottom: 12px;
    }
    
    .research_filter h2{
        padding-top: 0px;
        margin-bottom: 0px;
        padding-left: 20px;
    }
    .info {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0px;
    }

    /***Hébergements and populaires***/
    .hebergements-and-populaires {
        width: 100%;
        flex-direction: column-reverse;
        padding: 0px;
    }

    /***Hébergements***/
    .hebergements-and-populaires section {
        margin-top: 30px;
    }
    
    .section-title{
        margin-left: 0px;
        padding-left: 0px;
    }

    .hebergements {
        background-color: #FFFFFF;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hebergements-cards {
        width: 100%;
        flex-direction: column;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    .hebergements-cards .card img {
        width: 100%;
    }

    a.afficher{
        font-size: 18px;
    }

    /***Populaires***/
    .populaires {
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        flex-direction: column;
        width: 100%;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .populaires-cards img {
        width: 33%;
        height: 146px;
    }

    /***Activités à Marseille***/
    .activités-list {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .activites h2{
        margin-left: 9px;
        padding-top: 30px;
    }

    .activites {
        width: 100%;
    }

    .title-h3 {
        font-size: 16px;
    }

    .activités-list .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .activités-list .row article {
        margin: 0px;
    }

    .activités-list .row article img {
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
        height: 141px;
        width: 334px;
    }   
    
    /*****Footer*****/
    .footer {
    width: 100%;
}

    .footerwrap {
    flex-direction: column;
}
}
